.ui-toolbar {
	width: 600px;
	margin: 0 auto;
	z-index: 10;
	@media screen and (max-width: 600px) {
		width: 100%;
		background-color: crimson;
	}
	.mobile-header {
		@media screen and (max-width: 600px) {
			padding: 0;
			width: 40px;
		}
	}
	#collapse-toolbar {
		display: none;
		@media screen and (max-width: 600px) {
			display: block;
			margin-left: 5px;
    		height: 35px;
			background-repeat: no-repeat;
			background-image: url('./images/icons/menu.svg');
			&:active {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
	}
	#ui-options {
		display: block;
		background-color: whitesmoke;
		@media screen and (max-width: 600px) {
			position: fixed;
			left: -150px;
			height: 100%;
		}
		.toolbar-item {
			width: 150px;
			height: 45px;
			display: inline-block;
			@media screen and (max-width: 600px) {
				display: block;
			}
			&.selected .toolbar-btn{
				background-color: #F8F3F0;
				border-bottom: darkseagreen 3px solid;
			}
			.btn {
				width: 100%;
				height: 100%;
				border-radius: 2px;
				&:active {
					-webkit-box-shadow: none;
					box-shadow: none;
				}
			}
			.toolbar-btn {
				&:hover {
					background-color: #F8F3F0;
				}
				.toolbar-label {
					text-transform: uppercase;
					font-weight: bold;
					color: #8E8171;
					top: 5px;
		    		position: relative;
				}
				.toolbar-icon {
					height: 24px;
					width: 24px;
					float: left;
					margin-right: 0.5em;
					display: inline-block;
					&.check-in {
						background-image: url('./images/icons/checkin.svg');
					}
					&.events {
						background-image: url('./images/icons/events.svg');
					}
					&.account {
						background-image: url('./images/icons/account.svg');
					}
					&.settings {
						background-image: url('./images/icons/settings.svg');
					}
				}
				.alert-count {
					width: 14px;
				    font-size: 10px;
				    float: right;
				    height: 14px;
				    background-color: red;
				    border-radius: 100px;
				    color: #fff;
				    display: inline-block;
				}
				
			}
			.alerts {
				background-color: whitesmoke;
				width: inherit;
				height: 0;
				position: absolute;
				@media screen and (max-width: 600px) {
					display: inline-block !important;
				}
				.message {
					border: 1px solid #eeeeee;
					padding: 0.5em 1em;
					&:hover {
						background-color: #eeeeee;
					}
					&.btn {
						height: 43px;
					}
				}
			}
		}
	}
}

